@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

:root {
    --lightRed: #e52d27;
    --darkRed: #b31217;
    --gradient: linear-gradient(90deg, var(--lightRed), var(--darkRed));
}

*::selection {
    background: var(--lightRed);
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#header-front {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/Content/Images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
}


.logo {
    width: 100px;
    padding: 2px 10px;
}



.signin-btn, .login-btn {
    width: 100px;
    padding: 8px 0;
    outline: none;
    border-radius: 60px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    
}

    .home-btn:hover, .signin-btn:hover, .login-btn:hover {
        
        background: var(--gradient);
        border: 2px solid var(--gradient);
        box-shadow: 0.5 1rem rgba(0,0,0,.1);
    }

#header-front h1 {
    text-transform: capitalize;
    padding-top: 28vh;
    font-size: 4.5rem;
    font-weight: 750;
    letter-spacing: 10px;
    word-spacing: 20px;
}

#header-front p {
    text-transform: capitalize;
    font-size: 25px;
}

.about-btn {
    width: 150px;
    padding: 8px 0;
    outline: none;
    background: var(--gradient);
    border: 2px solid var(--gradient);
    box-shadow: 0.5 1rem rgba(0,0,0,.9);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s linear;
}

.about-btn:hover {
    border: 2px solid #fff;
    background: transparent;
    transform: scale(1.1);
}

/*about us*/

.about {
    height: 100vh;
    padding: 50px 0;
}

    .about h1 {
        text-align: center;
        color: var(--lightRed);
    }

#about .col-md-6 {
    padding: 20px;
    justify-content: left;
}

/*Footer*/

.footer {
    padding: 30px 20px;
    background-image: linear-gradient(#e52d27,#b31217);
    color: #fff;
}

    .footer h4 {
        text-transform: capitalize;
        text-align: left;
        margin-bottom: 28px;
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 1rem;
    }

    .footer p {
        font-size: 14px;
        text-align: left;
        padding-right: 35px;
        text-align: center;
        align-items: center;
    }

i {
    padding-right: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

    .footer a:hover {
        color: #000;
    }

.footer hr {
    margin-top: 10px;
    background: #fff;
}

.footer .copyright {
    text-align: center;
}

/*================================================================ Index page ===============================================================================*/

body {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#signup-container {
    position: absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#signup-container .row {
    height: 100%;
}

#signup-container .myCtn {
    position: relative;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
}

#signup-container .myCtn header {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

#signup-container .col-md-8 {
    margin: auto;
}


#signup-container i {
    margin-top: 10px;
    color: #e52d27;
}

#signup-container .form-group {
    padding-bottom: 10px;
    align-content: center;
    align-items: center;
    text-align: center;
}        

#signup-button {
    width: 200px;
    padding: 10px 0;
    outline: none;
    border-radius: 60px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    background: black;
    border: 2px solid black;
    align-items: center;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.5);
}

#signup-button:hover {
    background: var(--gradient);
    border: 2px solid var(--gradient);
}    

#checkPassword {
    color: #e52d27;
}

#signup-instruction {
    color: #e52d27;
    font-size: 12px;
    margin-bottom: 0;
}


/*==============================Login page==============================*/
body {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#login-container {
    position: absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 8%;
}

#login-container .row {
    height: 100%;
}

#login-container .myCtn {
    position: relative;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    padding: 20px;
    padding-left: 50px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
}

#login-container .myCtn h1 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

#login-container .col-md-9 {
    margin: auto;
    padding: auto;
}

#login-container i {
    margin-top: 10px;
    color: #e52d27;
}

#login-container .form-group {
    padding-bottom: 20px;
    align-content: center;
    align-items: center;
    text-align: center;
}    

#login-button {
    width: 200px;
    padding: 10px 0;
    outline: none;
    border-radius: 60px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    background: black;
    border: 2px solid black;
    align-items: center;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.5);
}

    #login-button:hover {
        background: var(--gradient);
        border: 2px solid var(--gradient);
    }
#login-error{
    font-size:14px;
    color:red;
    text-align:center;
}