@model IEnumerable<FoodManagement.Models.FOOD_TYPE>
@using FoodManagement.Models

@*@model  FoodManagement.Models.USER_REGISTRATION*@
@*@model Tuple<USER_REGISTRATION,IEnumerator<FOOD_TYPE>>*@

@{
    ViewBag.Title = "Content";
}

<h2>Content</h2>

@using (Html.BeginForm("Content", "Home", FormMethod.Get))
{
    <lable>Search</lable>
    <input type="text" name="name" id="name" placeholder="Name" />
    <input type="submit" />

}


<!--<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th>
           Item Type
        </th>
    </tr>

    @foreach (FOOD_TYPE item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QUANTITY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FOOD_ITEM.NAME)
            </td>
        </tr>
    }

</table>-->
@*@Html.ActionLink("Change Profile Details", "Update", new { id = Model.Item1.USERID })*@



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css” />

    <!--jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--External CSS File-->
    <link rel="stylesheet" href="/Content/style_cotent.css">

    <!--Owl carousel2 min css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--Owl carousel2 default theme css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--Font awesome code-->
    <script src="https://kit.fontawesome.com/2243ae231d.js" crossorigin="anonymous"></script>

    <title>Food Train</title>
</head>
<body class="body-content">
    <!--Header section starts-->
    <header id="header-content">
        <nav class="navbar navbar-expand-md text-white ">
            <div class="container">
                <a href="#" class="navbar-brand text-white" id="logo-header">Food Train</a>
                <button class="navbar-toggler" id="toggleBtn-header" type="button" data-toggle="collapse" data-bs-toggle="offcanvas" data-bs-target="#toggleBtn" data-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-start" id="toggleBtn">
                    <div class="offcanvas-header">
                        <h1 class="offcanvas-title"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" id="offCanvas-header"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav ms-auto" id="header-navbar">
                            <li class="nav-item active">
                                <a href="#" class="nav-link">HOME</a>
                            </li>

                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        FOODS
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <button class="dropdown-item"><a href="#koththu" id="dropButton">KOTHTHU</a></button>
                                        <button class="dropdown-item"><a href="#bakery" id="dropButton">BAKERY ITEMS</a></button>
                                        <button class="dropdown-item"><a href="#pizza" id="dropButton">PIZZA</a></button>
                                        <button class="dropdown-item"><a href="#rice" id="dropButton">RICE</a></button>
                                        <button class="dropdown-item"><a href="#desert" id="dropButton">DESERT</a></button>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="#koththu" class="nav-link">ABOUT</a>
                            </li>



                            <li class="nav-item">
                                <a href="#User" class="nav-link">USER</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchBox" />
                            </li>

                            <li class="nav-item">
                                <center>
                                    <button class="btn btn-secondary mr-sm-0 " type="submit" id="searchBtn">Search</button>
                                </center>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!--Landing page starts-->
        <!--<section class="landing" id="landing">
            <div class="container-fluid">
                <div class="container my-5">
                    <div class="row">
                        <div class="col-md-6 text-center">

                            <h1>Food Train</h1>
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="/Content/Images/landing-image.png" alt="Burger-Photo" width="80%">
                        </div>

                    </div>
                </div>
            </div>
        </section>-->
    </header>
    <!--Landing page ends-->
    <!--Header section ends-->
    <!--Koththu section starts-->

    @{
       var Koththu = from ko in Model where ko.FOODID == 100 select ko;
       var bakery = from bak in Model where bak.FOODID == 101 select bak;
       var pizza = from pi in Model where pi.FOODID == 102 select pi;
       var rice = from ri in Model where ri.FOODID == 103 select ri;
       var desert = from des in Model where des.FOODID == 104 select des;
    }


   
    <section class="koththu" id="koththu">
        <div class="container-fluid">
            <div class="container">
                <h1>Koththu</h1>
                <div class="owl-carousel owl-theme">
                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="~/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Chicken Koththu</h4>
                                    <p class="card-text text-center">600</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Egg Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Cheese Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Dolphin Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Beef Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Prawns Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    
    <!--Koththu section ends-->
    <!--Bakery section starts-->
    <section class="bakery" id="bakery">
        <div class="container-fluid">
            <div class="container">
                <h1>Bakery Items</h1>
                <div class="owl-carousel owl-theme">
                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Chicken Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Egg Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Cheese Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Dolphin Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Beef Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Prawns Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--Bakery section ends-->
    <!--Pizza section starts-->
    <section class="pizza" id="pizza">
        <div class="container-fluid">
            <div class="container">
                <h1>PIZZA</h1>
                <div class="owl-carousel owl-theme">
                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Chicken Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Egg Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Cheese Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Dolphin Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Beef Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Prawns Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--Pizza section ends-->
    <!--Rice section starts-->
    <section class="rice" id="rice">
        <div class="container-fluid">
            <div class="container">
                <h1>RICE</h1>
                <div class="owl-carousel owl-theme">
                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Chicken Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Egg Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Cheese Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Dolphin Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Beef Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Prawns Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--Rice section ends-->
    <!--Desert section starts-->
    <section class="desert" id="desert">
        <div class="container-fluid">
            <div class="container">
                <h1>DESERT</h1>
                <div class="owl-carousel owl-theme">
                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Chicken Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Egg Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Cheese Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Dolphin Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Beef Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area">
                        <div class="content p-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="/Content/Images/burger.jpg" alt="Card image cap" width="10%">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Prawns Koththu</h4>
                                    <p class="card-text text-center">Rs.500.00</p>
                                    <a href="#"><button class="button">ADD TO CART <i class="fa-solid fa-cart-plus"></i></button></a>
                                    <p class="qty-cart text-center" id="qty-cart">5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--Desert section ends-->
    <!--footer section starts-->
    <!--footer section ends-->
    <!--Owl carousels2 cdnjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--Init owl carousel-->
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 2,
            nav: false,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
</body>
</html>